.container {

    width: 100%;
    padding-top: 115px;

    background-color: #fffee1;
}

@media (max-width: 768px) {
    .container {
        padding-top: 230px;
        background-color: #ffffff;
    }

}