.container {

    width: 100%;
    padding-top: 50px;

    background-color: #ffffff;
}

@media (max-width: 768px) {
    .container {
        padding-top: 200px;
        background-color: #ffffff;
    }

}