.card_container {
    padding-block: 15px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
}

.card {
    width: 300px;
}

.tecnica h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70px;
    color: #ffd700;
    background-color: black;
    font-size: 28px;
}

@media (max-width: 768px) {
    .titulo {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .titulo h1 {
        font-size: 25px;
    }

    p {
        font-size: 15px;
    }

    .tecnica h2 {
        width: 100%;
        height: 40px;
        font-size: 16px;
    }
}