.footer {
    display: flex;

    justify-content: center;
    align-items: center;
    width: 100%;

    background-color: black;
    color: white;
}

.redes {
    display: flex;

    justify-content: center;
    align-items: center;
    gap: 50px;
    padding-top: 20px;
}

.rodape {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    color: #ffffff;
    background-color: #000000;
    padding-block: 20px;
}

.funcionamento {
    line-height: 25px;
}


.socias a {
    padding-inline: 5px;
}

.socias h3 {
    padding-bottom: 16px;
}

@media (max-width: 768px) {
    .redes {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 3px;
        padding-top: 40px;
    }

    .rodape {
        width: 100%;
        height: auto;
        padding-bottom: auto;
    }
}